@model IEnumerable<App.Areas.Product.Models.ProductsModel>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Thêm sản phẩm</a>
</p>
<p>Tổng số sản phẩm : @ViewBag.totalPosts</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
       
        
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
                <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++ViewBag.pageIndex)</td>
            
    
            <td>
                <a asp-action="Edit" asp-route-id="=@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
                <br>
               <small>@string.Join(", ", item.ProductInCategories.Select(p => p.Category.Title))</small>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PagingXTL" model="@ViewBag.pagingModel"></partial>